<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ./templates/head %>
  </head>
  <body>
    <% include ./templates/header %>

    <section class="container">
      <table>
        <colgroup>
          <col style="width: 100px" />
          <col style="width: 100px" />
          <col style="width: 100px" />
          <col style="width: 200px" />
          <col style="width: 200px" />
          <col />
          <col style="width: 400px" />
        </colgroup>
        <thead>
          <tr>
            <th style="text-align: center">좋아요</th>
            <th style="text-align: center">싫어요</th>
            <th style="text-align: center">댓글</th>
            <th>가게 이름</th>
            <th>추천 메뉴</th>
            <th>설명</th>
            <th>한마디 / 관련 링크</th>
          </tr>
        </thead>
        <tbody>
          <% lunches.forEach(function(lunch) { %>
          <tr>
            <td style="text-align: center">
              <% if (lunch.id) { %>
              <button type="button" class="btn-like btn-like-dislike" data-lunch-id="<%=lunch.id%>">
                <i>👍🏻</i> <span id="lunch-like-<%=lunch.id%>"><%= lunch.like %></span>
              </button>
              <% } %>
            </td>
            <td style="text-align: center">
              <% if (lunch.id) { %>
              <button type="button" class="btn-dislike btn-like-dislike" data-lunch-id="<%=lunch.id%>">
                <i>👎🏻</i> <span id="lunch-dislike-<%=lunch.id%>"><%= lunch.dislike %></span>
              </button>
              <% } %>
            </td>
            <td style="text-align: center">
              <% if (lunch.id) { %>
              <button type="button" class="btn-comments" data-lunch-id="<%=lunch.id%>">
                <img src="/img/comment.png" alt="comments" /> <span id="lunch-comment-<%=lunch.id%>"><%=lunch.comments.length%></span>
              </button>
              <% } %>
            </td>
            <td><a href="/lunch/<%=lunch.id%>"><%= lunch.placeName %></a></td>
            <td><%= lunch.recommend %></td>
            <td><%= lunch.content %></td>
            <td>
              <% if (lunch.urlType === 'link') { %>
              <a class="lunch-link" href="<%= lunch.url %>" target="_blank">링크</a>
              <% } else if (lunch.urlType === 'image') { %>
              <a class="lunch-link" href="<%= lunch.url %>" target="_blank">
                <img class="lunch-image" src="<%= lunch.url %>" alt="이미지" />
              </a>
              <% } else { %> <%= lunch.url %> <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </section>

    <div id="modal-container">
      <div class="modal-background">
        <div id="modal-content" class="modal">
          <form id="comment-form">
              <% if (user) { %>
                <div class="comment-form">
                <img class="avatar" src="<%=user.profileImage%>" alt="avatar" />
                <textarea name="content" class="content"></textarea>
                <input name="id" type="hidden" value="" />
                <button type="submit" class="comment-btn-submit">
                  등록
                </button>
              <% } else { %>
                <div class="comment-form">
                <img class="avatar" src="/img/blank.jpg" alt="avatar" />
                <textarea name="content" class="content" disabled>로그인 하시면 댓글을 달 수 있어요.</textarea>
                <input name="id" type="hidden" value="" />
                <button type="submit" class="comment-btn-disabled" disabled>
                  등록
                </button>
              <% } %>
              </div>
          </form>
          <ul id="comment-list" class="comment-list"></ul>
        </div>
      </div>
    </div>

    <% include ./templates/footer %>
  </body>
</html>
