<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ./templates/head %>
  </head>
  <body>
    <% include ./templates/header %> <% if (lunch) { %>
    <section class="container">
      <h1 class="lunch-title">
        <%=lunch.placeName%>
        <div class="info">
          <div style="text-align: center">
            <% if (lunch.id) { %>
            <button type="button" class="btn-like btn-like-dislike" data-lunch-id="<%=lunch.id%>">
              <i>👍🏻</i> <span id="lunch-like-<%=lunch.id%>"><%= lunch.like %></span>
            </button>
            <% } %>
          </div>
          <div style="text-align: center">
            <% if (lunch.id) { %>
            <button type="button" class="btn-dislike btn-like-dislike" data-lunch-id="<%=lunch.id%>">
              <i>👎🏻</i> <span id="lunch-dislike-<%=lunch.id%>"><%= lunch.dislike %></span>
            </button>
            <% } %>
          </div>
          <div style="text-align: center">
            <% if (lunch.id) { %>
            <button type="button" class="btn-comments" data-lunch-id="<%=lunch.id%>">
              <img src="/img/comment.png" alt="comments" />
              <span id="lunch-comment-<%=lunch.id%>"><%=lunch.comments.length%></span>
            </button>
            <% } %>
          </div>
        </div>
      </h1>
      <ul class="lunch-description">
          <% if (lunch.recommend) { %>
          <li>
            <div class="title">추천 메뉴</div> <div class="description"><%=lunch.recommend%></div>
          </li>
          <% } %>
          <% if (lunch.content) { %>
          <li>
            <div class="title">설명</div> <div class="description"><%=lunch.content%></div>
          </li>
          <% } %>
          <% if (lunch.url) { %>
          <li>
            <div class="title">한마디 / 관련링크</div>
            <div class="description">
              <% if (lunch.urlType === 'link') { %>
              <a class="lunch-link" href="<%= lunch.url %>" target="_blank">링크</a>
              <% } else if (lunch.urlType === 'image') { %>
              <a class="lunch-link" href="<%= lunch.url %>" target="_blank">
                <img class="lunch-image" src="<%= lunch.url %>" alt="이미지" />
              </a>
              <% } else { %> <%= lunch.url %> <% } %>
            </div>
          </li>
          <% } %>
        </ul>
      <table>
        <colgroup>
          <col style="width: 240px" />
          <col />
        </colgroup>
        <tbody>
          <tr></tr>
          <% posts.forEach(function(post) { %>
          <tr>
            <td><img class="lunch-image" src="<%=post.thumbnail%>" alt="썸네일" /></td>
            <td><a href="<%=post.url%>" target="_blank"><%= post.title %></a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </section>

    <div id="modal-container">
        <div class="modal-background">
          <div id="modal-content" class="modal">
            <form id="comment-form">
                <% if (user) { %>
                  <div class="comment-form">
                  <img class="avatar" src="<%=user.profileImage%>" alt="avatar" />
                  <textarea name="content" class="content"></textarea>
                  <input name="id" type="hidden" value="" />
                  <button type="submit" class="comment-btn-submit">
                    등록
                  </button>
                <% } else { %>
                  <div class="comment-form">
                  <img class="avatar" src="/img/blank.jpg" alt="avatar" />
                  <textarea name="content" class="content" disabled>로그인 하시면 댓글을 달 수 있어요.</textarea>
                  <input name="id" type="hidden" value="" />
                  <button type="submit" class="comment-btn-disabled" disabled>
                    등록
                  </button>
                <% } %>
                </div>
            </form>
            <ul id="comment-list" class="comment-list"></ul>
          </div>
        </div>
      </div>
  
    <% } %> <% include ./templates/footer %>
  </body>
</html>
